extends layout

block content
  div(class="col-md-3")
    table(class="table table-stripped")
      thead
        tr
          th Lampu
          th Switch
          th Ampere
      tbody
        each row in flood
          tr
            td='Lampu: ' + row.dataValues.id
            td
              label(class='switch')
                if row.dataValues.lamp_status == '1'
                  input(type='checkbox' id='floodCheck' + row.dataValues.id onclick='floodSwitch("' + row.dataValues.id + '")' checked)
                else 
                  input(type='checkbox' id='floodCheck' + row.dataValues.id onclick='floodSwitch("' + row.dataValues.id + '")')
                span(class='slider round')
            td=row.dataValues.lamp_amp + ' Amp'

  script(src="/javascripts/flood_fe.js")