extends layout

block content
  h1= title
  p Welcome to #{title}
  div(class="col-md-3")
    table(class="table table-stripped")
      thead
        tr
          th Lampu
          th Tegangan
          th Arus
      tbody
        tr
          td
            img(src='../images/lamp_64.png')
          td 12 Volt
          td 20 Amp
        tr
          td
            img(src='../images/lamp_64.png')
          td 12 Volt
          td 20 Amp
        tr
          td
            img(src='../images/lamp_64.png')
          td 12 Volt
          td 20 Amp
        tr
          td
            img(src='../images/lamp_64.png')
          td 12 Volt
          td 20 Amp
        tr
          td
            img(src='../images/lamp_64.png')
          td 12 Volt
          td 20 Amp
        tr
          td
            img(src='../images/lamp_64.png')
          td 12 Volt
          td 20 Amp
        tr
          td
            img(src='../images/lamp_64.png')
          td 12 Volt
          td 20 Amp
        tr
          td
            img(src='../images/lamp_64.png')
          td 12 Volt
          td 20 Amp
        tr
          td
            img(src='../images/lamp_64.png')
          td 12 Volt
          td 20 Amp
